body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Top Bar Styles */
#top-bar {
    color: #191919;
    text-align: left;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#top-bar h1 {
    font-size: 30px;
    margin-right: 20px;
}

#top-bar img {
    height: 80px;
    width: auto;
    margin-left: 300px;
    margin-right: auto;
    margin-top: -52px;
    display: block;
}

#top-bar p {
    margin: 0;
    margin-top: -41px;
    padding-bottom: 26px;
}

.navbar {
    background-color: #033B55;
    color: white;
}
